*{
    box-sizing: border-box;
}
html{
    display:flex;
    margin: 0px;
   height: 100%;
   width: 100%;
    margin:0;
    padding:0;
}
body{
    flex:1;
    margin: 0px;
   min-height: 100%;
   width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
}
header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.right, .left, header h1{
    flex:1;
}
.left{
    display:flex;
    align-items: center;
    gap:6px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap:5px;
    height:50px;
}
.right{
    display: flex;
    flex-direction: row-reverse;
    gap:16px;
}
input{
    width:50px;
    padding:0;
    margin:0;
}
#grid-container{
width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    align-items: center;
    border: 1px solid #000;
    display:flex;
    justify-content: center;
}
.cell{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width:100%;
    aspect-ratio: 1 / 1;
}